@charset "utf-8";
/*Colours
yellow: #e1d73a;
red: #cc2038;
cyan: #4eb0af;
purple: #6e86b6;
pink: #e5b3d0;
grey: #999;
*/


/* Font */
@import url("../fonts/PathwayGothicOne-Regular.ttf");
body {
	font-family: 'Pathway Gothic One', sans-serif;
}
/* Reset margin for col- */
[class^="col-"] {
	margin: 0;
}

main [class^="col-"] {
	padding: 0;
}

.fa {
	color: #000;
}

/* Header */
header h2 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin: 0;
	font-size: 1em;
}

header .info {
	padding: 20px;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center
}

header .info p {
	margin: 0;
	padding: 0;
}

header .small {
	font-size: 0.6em;
}

header .lang {
	text-transform: uppercase;
}

header .bottom-left {
	max-height: 9em;
}
/* Navigation */

header nav {
	display: table;
	width: 100%;
	border: none;
	text-align: center;
	position: absolute;
	bottom: 0;
	z-index: 999;
}

header nav ul.tableRow {
	display: table-row;
}

header nav li.tableCell {
	display: table-cell;
	border: 1px solid #000;
}

header nav li a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-shadow: -1px 1px #000;
	font-size: 130%;
	font-weight: bold;
}
header nav li a:hover, header nav li a:focus {
	text-decoration: none;
	color: #262626;
	text-shadow: none;
}

header nav .dropdown-menu li a {
	font-size: 100%;
	color: #fff;
}

/* Mobile menu */
header nav a.nav-link {
	color: #fff;
	font-weight: bold;
	font-size: 3.5em;
	text-transform: uppercase;
	display: block;
	text-align: center;
	text-shadow: -1px 1px #000;
}

header nav a.nav-link:hover,
header nav a.nav-link:focus {
	text-decoration: none;
	text-shadow: none;
}

header nav .panel-collapse li a {
	font-size: 1.5em;
}
header nav .panel-group {
	margin: 0;
}

#accordion li a {
	padding: 10px 5px;
}

header nav .panel-collapse ul {
	margin: 0;
}

/* Main content*/

#carousel {
	z-index: 2;
	border: 14px solid #999;
	background-color: #999;
}

main h1 {
	font-size: 3em;
	margin: 0;
	color: #fff;
	padding: 15px;
	text-shadow: -1px 1px #000;
	text-transform: uppercase;
}

main .text {
	padding: 15px;
	font-size: 1.3em;
}


/* Footer */
footer.col-xs-12 {
	padding: 20px;
	background: rgb(254, 252, 234);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(254, 252, 234, 1) 0%, rgba(225, 215, 58, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 252, 234, 1)), color-stop(100%, rgba(225, 215, 58, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254, 252, 234, 1) 0%, rgba(225, 215, 58, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254, 252, 234, 1) 0%, rgba(225, 215, 58, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254, 252, 234, 1) 0%, rgba(225, 215, 58, 1) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(254, 252, 234, 1) 0%, rgba(225, 215, 58, 1) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#e1d73a', GradientType=0);
	/* IE6-9 */
}

footer .fa-4x {
	 font-size: 2.5em;
}

.relative {
	position: relative !important;
}

[class*="photo"] {
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
}

.photov {
	max-height: 18em;
}

.photoh {
	max-height: 9em;
}


/* Colour classes */
.yellow {
	background-color: #e1d73a;
}

.red {
	background-color: #cc2038;
}

.cyan {
	background-color: #4eb0af;
}

.purple {
	background-color: #6e86b6;
}

.pink {
	background-color: #e5b3d0;
}

.grey {
	background-color: #999;
}
/* Utilities */

.w100 {
	width: 100%;
}

.mrgn-lft-0 {
	margin-left: 0;
}

.mrgn-lft-sm {
	margin-left: 5px;
}

.mrgn-lft-md {
	margin-left: 15px;
}

.mrgn-lft-lg {
	margin-left: 30px;
}

.mrgn-lft-xl {
	margin-left: 50px;
}

.mrgn-bttm-0 {
	margin-bottom: 0;
}

.mrgn-bttm-sm {
	margin-bottom: 5px;
}

.mrgn-bttm-md {
	margin-bottom: 15px;
}

.mrgn-bttm-lg {
	margin-bottom: 30px;
}

.mrgn-bttm-xl {
	margin-bottom: 50px;
}

.mrgn-tp-0 {
	margin-top: 0;
}

.mrgn-tp-sm {
	margin-top: 5px;
}

.mrgn-tp-md {
	margin-top: 15px;
}

.mrgn-tp-lg {
	margin-top: 30px;
}

.mrgn-tp-xl {
	margin-top: 50px;
}

.mrgn-rght-0 {
	margin-right: 0;
}

.mrgn-rght-sm {
	margin-right: 5px;
}

.mrgn-rght-md {
	margin-right: 15px;
}

.mrgn-rght-lg {
	margin-right: 30px;
}

.mrgn-rght-xl {
	margin-right: 50px;
}

/* Media Queries*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header h2 {
		font-size: 1.4em;
	}
	nav li a {
		font-size: 1.2em;
		padding: 13px 5px;
		letter-spacing: 3px;
	}
	.cell div, header .cell {
		min-height: 9em;
	}
	header .small {
		font-size: 0.8em;
	}
	#carousel {
		position: absolute;
		top: 0;
		right: 0;
	}
	.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
		max-height: 16em;
	}
	header .date {
		font-size: 63%;
	}
	header .info {
	text-align: right;
	}

	main h1 {
		text-align: center;
		font-size: 2.7em;
		padding-top: 45px;
	}

	main .text {
		font-size: 1.1em;
	}

	main .twitter-timeline {
		max-height: 27em;
		position: absolute !important;
		bottom: 0;
		right: 0;
	}

	footer .fa-4x {
		 font-size: 3.3em;
	}

	.bottom-left,
	.top-right,
	.bottom-right,
	top-left {
		position: absolute;
	}

	.bottom-left {
		left: 0;
		bottom: 0;
	}

	.bottom-right {
		right: 0;
		bottom: 0;
	}

	.top-right {
		right: 0;
		top: 0;
	}

	.top-left {
		left: 0;
		top: 0;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header h2 {
		font-size: 1.9em;
	}
	header .date {
		font-size: 80%;
	}
	header nav li a {
		font-size: 170%
	}

	main h1 {
		font-size: 3.5em;
		padding-top: 40px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	footer .fa-4x {
		 font-size: 4em;
	}

}

