@charset "utf-8";
/*Colours
yellow: #e1d73a;
red: #cc2038;
cyan: #4eb0af;
purple: #6e86b6;
pink: #e5b3d0;
grey: #999;
*/


/* Font */
@import url("../fonts/PathwayGothicOne-Regular.ttf");
body {
	font-family: 'Pathway Gothic One', sans-serif;
}
/* Reset margin for col- */
.home [class^="col-"] {
	margin: 0;
}

.home main [class^="col-"] {
	padding: 0;
}

.fa {
	color: #000;
}

/* Header */
header h2 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin: 0;
	font-size: 1em;
}

header .info {
	padding: 20px;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center
}

header .small {
	font-size: 0.6em;
}

header .lang {
	text-transform: uppercase;
}

header .bottom-left {
	max-height: 9em;
}

/* Navigation */
header nav {
	z-index: 999;
}

header nav ul {
	text-align: center;
	margin: 0;
	padding: 0;
}

header nav li {
	display: block;
	list-style: none;
}

header nav a {
	color: #fff;
	font-weight: bold;
	font-size: 3.5em;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 10px 0;
}

header nav li a:hover, header nav li a:focus {
	text-decoration: none;
	color: #262626;
}

header nav .dropdown-menu li a {
	font-size: 120%;
	color: #fff;
	padding: 5px 15px;
}

/* Main content*/

main h1 {
	font-size: 1.4em;
	margin: 0;
	color: #fff;
	padding: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

main #carousel {
	z-index: 2;
	border: 14px solid #999;
	background-color: #999;
}

main .text {
	padding: 15px;
	font-size: 1.3em;
	text-align: justify;
}

.content main .text {
	background: rgb(225,215,58); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,215,58,1) 0%, rgba(255,255,255,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,215,58,1)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,215,58,1) 0%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,215,58,1) 0%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,215,58,1) 0%,rgba(255,255,255,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,215,58,1) 0%,rgba(255,255,255,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1d73a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* Footer */
footer .fa-4x {
	 font-size: 2.5em;
}

.relative {
	position: relative !important;
}

[class*="photo"] {
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
}

.photov {
	max-height: 18em;
}

.photoh {
	max-height: 9em;
}


/* Colour classes */
.yellow {
	background-color: #e1d73a;
}

.red {
	background-color: #cc2038;
}

.cyan {
	background-color: #4eb0af;
}

.purple {
	background-color: #6e86b6;
}

.pink {
	background-color: #e5b3d0;
}

.grey {
	background-color: #999;
}
/* Utilities */

.w100 {
	width: 100%;
}

.mrgn-lft-0 {
	margin-left: 0;
}

.mrgn-lft-sm {
	margin-left: 5px;
}

.mrgn-lft-md {
	margin-left: 15px;
}

.mrgn-lft-lg {
	margin-left: 30px;
}

.mrgn-lft-xl {
	margin-left: 50px;
}

.mrgn-bttm-0 {
	margin-bottom: 0;
}

.mrgn-bttm-sm {
	margin-bottom: 5px;
}

.mrgn-bttm-md {
	margin-bottom: 15px;
}

.mrgn-bttm-lg {
	margin-bottom: 30px;
}

.mrgn-bttm-xl {
	margin-bottom: 50px;
}

.mrgn-tp-0 {
	margin-top: 0;
}

.mrgn-tp-sm {
	margin-top: 5px;
}

.mrgn-tp-md {
	margin-top: 15px;
}

.mrgn-tp-lg {
	margin-top: 30px;
}

.mrgn-tp-xl {
	margin-top: 50px;
}

.mrgn-rght-0 {
	margin-right: 0;
}

.mrgn-rght-sm {
	margin-right: 5px;
}

.mrgn-rght-md {
	margin-right: 15px;
}

.mrgn-rght-lg {
	margin-right: 30px;
}

.mrgn-rght-xl {
	margin-right: 50px;
}

/* Media Queries*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header h2 {
		font-size: 1.4em;
	}

/* Navigation */
	header nav {
		display: table;
		width: 100%;
		border: none;
	}

	header nav ul {
		display: table-row;
	}

	header nav li {
		display: table-cell;
	}

	header nav li a {
		display: block;
		color: #fff;
		text-transform: uppercase;
		font-size: 130%;
		font-weight: bold;
		padding: 13px 5px;
		letter-spacing: 3px;
	}

	header nav li a:hover, header nav li a:focus {
		text-decoration: none;
		color: #262626;
	}

	header nav .dropdown-menu li {
		font-size: 100%;
		color: #fff;
		display: block;
	}

	main .cell div {
		min-height: 9em;
	}

	header .cell {
		min-height: 3.7em;
	}

	header .small {
		font-size: 0.7em;
	}
	#carousel {
		position: absolute;
		top: 0;
		left: 0;
	}
	.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
		max-height: 16em;
	}

	header .date {
		font-size: 63%;
	}

	header .info {
	text-align: right;
	}

	header p.date {
		font-size: 1.4em;
	}

	main h1 {
		text-align: center;
		padding-top: 2.6em;
	}

	main .twitter-timeline {
		max-height: 27em;
		position: absolute !important;
		bottom: 0;
		right: 0;
	}

	footer .fa-4x {
		 font-size: 3.3em;
	}

	.bottom-left,
	.top-right,
	.bottom-right,
	top-left {
		position: absolute;
	}

	.bottom-left {
		left: 0;
		bottom: 0;
	}

	.bottom-right {
		right: 0;
		bottom: 0;
	}

	.top-right {
		right: 0;
		top: 0;
	}

	.top-left {
		left: 0;
		top: 0;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header h2 {
		font-size: 1.9em;
	}
	header .date {
		font-size: 80%;
	}

	header nav li a {
		font-size: 170%
	}

	header .cell {
		min-height: 4.3em;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	footer .fa-4x {
		 font-size: 4em;
	}

	header nav li a {
		font-size: 193%
	}

	header .cell {
		min-height: 4.6em;
	}

}

