Options -Indexes

###### Redirects ######
Redirect 301 /submission http://www.artsida.org/control-wp/artwork-2/submission/
Redirect 301 /submissions http://www.artsida.org/control-wp/artwork-2/submission/
Redirect 301 /soumissions http://www.artsida.org/control-wp/fr/artwork-2/submission/
Redirect 301 /soumission http://www.artsida.org/control-wp/fr/artwork-2/submission/
Redirect 301 /index.php	http://www.artsida.org/control-wp/
Redirect 301 /artsida.php	http://www.artsida.org/control-wp/about-2/artsida/
Redirect 301 /vernissage.php	http://www.artsida.org/control-wp/about-2/vernissage/
Redirect 301 /honorary.php	http://www.artsida.org/control-wp/about-2/honorary/
Redirect 301 /venues.php	http://www.artsida.org/control-wp/about-2/venues/
Redirect 301 /team.php	http://www.artsida.org/control-wp/about-2/team/
Redirect 301 /history.php	http://www.artsida.org/control-wp/about-2/history/
Redirect 301 /accm.php	http://www.artsida.org/control-wp/about-2/accm/
Redirect 301 /catalog.php	http://www.artsida.org/control-wp/artwork-2/catalog/
Redirect 301 /rules.php	http://www.artsida.org/control-wp/artwork-2/rules/
Redirect 301 /submission.php	http://www.artsida.org/control-wp/artwork-2/submission/
Redirect 301 /tickets.php	http://www.artsida.org/control-wp/tickets/
Redirect 301 /sponsors.php	http://www.artsida.org/control-wp/sponsors/
Redirect 301 /media.php	http://www.artsida.org/control-wp/media/
Redirect 301 /volunteer.php	http://www.artsida.org/control-wp/volunteer/
Redirect 301 /contact.php	http://www.artsida.org/control-wp/contact/
Redirect 301 /accueil.php	http://www.artsida.org/control-wp/fr/
Redirect 301 /encan.php	http://www.artsida.org/control-wp/fr/about-2/artsida/
Redirect 301 /vente.php	http://www.artsida.org/control-wp/fr/about-2/vernissage/
Redirect 301 /copresidents.php	http://www.artsida.org/control-wp/fr/about-2/honorary/
Redirect 301 /lieux.php	http://www.artsida.org/control-wp/fr/about-2/venues/
Redirect 301 /equipe.php	http://www.artsida.org/control-wp/fr/about-2/team/
Redirect 301 /historique.php	http://www.artsida.org/control-wp/fr/about-2/history/
Redirect 301 /sbm.php	http://www.artsida.org/control-wp/fr/about-2/accm/
Redirect 301 /catalogue.php	http://www.artsida.org/control-wp/fr/artwork-2/catalog/
Redirect 301 /regles.php	http://www.artsida.org/control-wp/fr/artwork-2/rules/
Redirect 301 /soumissions.php	http://www.artsida.org/control-wp/fr/artwork-2/submission/
Redirect 301 /billets.php	http://www.artsida.org/control-wp/fr/tickets/
Redirect 301 /commanditaires.php	http://www.artsida.org/control-wp/fr/sponsors/
Redirect 301 /medias-fr.php	http://www.artsida.org/control-wp/fr/media/
Redirect 301 /benevolat.php	http://www.artsida.org/control-wp/fr/volunteer/
Redirect 301 /joindre.php	http://www.artsida.org/control-wp/fr/contact/
Redirect 301 /control-wp/fr/control	http://www.artsida.org/control-wp/control
